<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
 		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

    <bean id="eventDao" class="ua.epam.spring.hometask.dao.impl.EventDao"/>
    <bean id="userDao" class="ua.epam.spring.hometask.dao.impl.UserDao"/>

    <bean id="eventService" class="ua.epam.spring.hometask.service.impl.EventService">
        <property name="dao" ref="eventDao"/>
    </bean>

    <bean id="userService" class="ua.epam.spring.hometask.service.impl.UserService">
        <property name="dao" ref="userDao"/>
    </bean>

</beans>