<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
 		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
 		http://www.springframework.org/schema/util
 		http://www.springframework.org/schema/util/spring-util-3.2.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.2.xsd">

    <context:annotation-config/>

    <bean id="eventDao" class="ua.epam.spring.hometask.dao.impl.EventDao"/>
    <bean id="userDao" class="ua.epam.spring.hometask.dao.impl.UserDao"/>

    <bean id="eventService" class="ua.epam.spring.hometask.service.impl.EventService">
        <property name="dao" ref="eventDao"/>
    </bean>

    <bean id="userService" class="ua.epam.spring.hometask.service.impl.UserService">
        <property name="dao" ref="userDao"/>
    </bean>


    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:auditoriums.properties</value>
            </list>
        </property>
        <property name="ignoreResourceNotFound" value="true"/>
        <!-- <property name="systemPropertiesMode">
             <util:constant
                     static-field="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer.SYSTEM_PROPERTIES_MODE_OVERRIDE"/>
         </property>-->
    </bean>

    <bean id="redAuditorium" class="ua.epam.spring.hometask.domain.Auditorium">
        <property name="name" value="${red_name}"/>
        <property name="numberOfSeats" value="${red_numberOfSeats}"/>
        <property name="vipSeats">
            <bean class="java.util.HashSet"/>
        </property>
    </bean>

    <bean id="greenAuditorium" class="ua.epam.spring.hometask.domain.Auditorium">
        <property name="name" value="${green_name}"/>
        <property name="numberOfSeats" value="${green_numberOfSeats}"/>
        <property name="vipSeats">
            <bean class="java.util.HashSet"/>
        </property>
    </bean>

    <bean id="blackAuditorium" class="ua.epam.spring.hometask.domain.Auditorium">
        <property name="name" value="${black_name}"/>
        <property name="numberOfSeats" value="${black_numberOfSeats}"/>
        <property name="vipSeats">
            <bean class="java.util.HashSet"/>
        </property>
    </bean>

    <util:map id="auditoriumsMap">
        <entry key="Red" value-ref="redAuditorium"/>
        <entry key="Green" value-ref="greenAuditorium"/>
        <entry key="Black" value-ref="blackAuditorium"/>
    </util:map>

    <bean id="domainMap" class="ua.epam.spring.hometask.util.DomainMap">
        <property name="auditoriumMap" ref="auditoriumsMap">
        </property>
    </bean>

    <bean id="auditoriumService" class="ua.epam.spring.hometask.service.impl.AuditoriumService">
        <property name="auditoriumMap" value="#{domainMap.getAuditoriumMap()}"/>
    </bean>

    <bean id="bookingService" class="ua.epam.spring.hometask.service.impl.BookingService">
        <property name="userService" ref="userService"/>
    </bean>

</beans>